
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 2013
VisualStudioVersion = 12.0.31101.0
MinimumVisualStudioVersion = 10.0.40219.1
{% for proj in solution.projects %}
Project("{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}") = "{{proj.name}}", "{{proj.name}}.vcxproj", "{{proj.guid}}"
	{% if proj.ref_proj != None %}
	ProjectSection(ProjectDependencies) = postProject
		{{proj.ref_proj.guid}} = {{proj.ref_proj.guid}}
	EndProjectSection
	{% endif %}
EndProject
{% endfor %}
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
{% for conf, platform in solution.configurations %}
		{{conf}}|{{platform}} = {{conf}}|{{platform}}
{% endfor %}
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
{% for proj in solution.projects %}
	{% for conf, platform in proj.configurations %}
		{{proj.guid}}.{{conf}}|{{platform}}.ActiveCfg = {{conf}}|{{platform}}
		{{proj.guid}}.{{conf}}|{{platform}}.Build.0 = {{conf}}|{{platform}}
	{% endfor %}
{% endfor %}
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal
