 [ ca ]
 default_ca             = ca_default

 [ ca_default ]
 certificate            = {{ca_name}}.crt
 private_key            = {{ca_name}}.key
 default_md             = sha256
 database               = ./{{database}}
 default_crl_days       = 3653
{% raw %}{% endraw %} {# Reserved for file ending LF #}