*.exe
*.o
*.obj
/docs/*.pdf
/docs/html
/library/libmbedcrypto*.a
/library/libmbedcrypto*.dll
/library/libmbedcrypto*.so
/library/libmbedcrypto*.so.[0-9]*
/programs/psa/crypto_examples
/programs/psa/key_ladder_demo
/programs/psa/psa_constant_names
/tests/test_suite_*
